<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller_002|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller_002|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller_002</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller_001|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller_001|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller_001</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|rst_controller</TD>
<TD >33</TD>
<TD >30</TD>
<TD >0</TD>
<TD >30</TD>
<TD >2</TD>
<TD >30</TD>
<TD >30</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|irq_mapper_001</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >32</TD>
<TD >32</TD>
<TD >32</TD>
<TD >32</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|irq_mapper</TD>
<TD >1</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >32</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter_003|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter_003</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter_002|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter_002</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter_001|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter_001</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|avalon_st_adapter</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_mux_001|arb|adder</TD>
<TD >16</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_mux_001|arb</TD>
<TD >8</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_mux_001</TD>
<TD >487</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >125</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_mux|arb|adder</TD>
<TD >16</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_mux|arb</TD>
<TD >8</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_mux</TD>
<TD >487</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >125</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_demux_003</TD>
<TD >125</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >243</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_demux_002</TD>
<TD >125</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >243</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_demux_001</TD>
<TD >125</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >243</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|rsp_demux</TD>
<TD >125</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >243</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_003|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_003|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_003</TD>
<TD >245</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_002|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_002|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_002</TD>
<TD >245</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_001|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_001|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux_001</TD>
<TD >245</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_mux</TD>
<TD >245</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_demux_001</TD>
<TD >130</TD>
<TD >16</TD>
<TD >2</TD>
<TD >16</TD>
<TD >485</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|cmd_demux</TD>
<TD >130</TD>
<TD >16</TD>
<TD >2</TD>
<TD >16</TD>
<TD >485</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min</TD>
<TD >31</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_burstwrap_increment</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|align_address_to_size</TD>
<TD >29</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >23</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min</TD>
<TD >31</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_burstwrap_increment</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|align_address_to_size</TD>
<TD >29</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >23</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min</TD>
<TD >31</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_burstwrap_increment</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|align_address_to_size</TD>
<TD >29</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >23</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min</TD>
<TD >31</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_burstwrap_increment</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|align_address_to_size</TD>
<TD >29</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >23</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_burst_adapter</TD>
<TD >124</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|arm_hps_h2f_lw_axi_master_rd_limiter</TD>
<TD >246</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >247</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|arm_hps_h2f_lw_axi_master_wr_limiter</TD>
<TD >246</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >247</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_005|the_default_decode</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_005</TD>
<TD >120</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_004|the_default_decode</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_004</TD>
<TD >120</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_003|the_default_decode</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_003</TD>
<TD >120</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_002|the_default_decode</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_002</TD>
<TD >120</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_001|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router_001</TD>
<TD >120</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|router</TD>
<TD >120</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >122</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_agent_rdata_fifo</TD>
<TD >79</TD>
<TD >41</TD>
<TD >0</TD>
<TD >41</TD>
<TD >36</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_agent_rsp_fifo</TD>
<TD >160</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >119</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_agent</TD>
<TD >317</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >337</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_agent_rdata_fifo</TD>
<TD >79</TD>
<TD >41</TD>
<TD >0</TD>
<TD >41</TD>
<TD >36</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_agent_rsp_fifo</TD>
<TD >160</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >119</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_agent</TD>
<TD >317</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >337</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_agent_rdata_fifo</TD>
<TD >79</TD>
<TD >41</TD>
<TD >0</TD>
<TD >41</TD>
<TD >36</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_agent_rsp_fifo</TD>
<TD >160</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >119</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_agent</TD>
<TD >317</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >337</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_agent_rdata_fifo</TD>
<TD >79</TD>
<TD >41</TD>
<TD >0</TD>
<TD >41</TD>
<TD >36</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_agent_rsp_fifo</TD>
<TD >160</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >119</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_agent</TD>
<TD >317</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >337</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|arm_hps_h2f_lw_axi_master_agent|align_address_to_size</TD>
<TD >38</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|arm_hps_h2f_lw_axi_master_agent</TD>
<TD >421</TD>
<TD >87</TD>
<TD >191</TD>
<TD >87</TD>
<TD >302</TD>
<TD >87</TD>
<TD >87</TD>
<TD >87</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hpsinitreset_slave_translator</TD>
<TD >104</TD>
<TD >38</TD>
<TD >20</TD>
<TD >38</TD>
<TD >68</TD>
<TD >38</TD>
<TD >38</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|hps_avmm_master_slave_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >7</TD>
<TD >6</TD>
<TD >87</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|handshake_s1_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >22</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1|system_id_control_slave_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >20</TD>
<TD >6</TD>
<TD >35</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_1</TD>
<TD >256</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >190</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|avalon_st_adapter_001|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|avalon_st_adapter_001</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|avalon_st_adapter|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|avalon_st_adapter</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_mux_001|arb|adder</TD>
<TD >8</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_mux_001|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_mux_001</TD>
<TD >255</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >128</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_mux|arb|adder</TD>
<TD >8</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_mux|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_mux</TD>
<TD >255</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >128</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_demux_001</TD>
<TD >130</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >253</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|rsp_demux</TD>
<TD >130</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >253</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_mux_001|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_mux_001|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_mux_001</TD>
<TD >255</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >128</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_mux|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_mux|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_mux</TD>
<TD >255</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >128</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_demux_001</TD>
<TD >131</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >253</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|cmd_demux</TD>
<TD >131</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >253</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min</TD>
<TD >31</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_burstwrap_increment</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|align_address_to_size</TD>
<TD >38</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >32</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_burst_adapter</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|dc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|db_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|da_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|bc_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ac_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub|subtract</TD>
<TD >17</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >8</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min|ab_sub</TD>
<TD >16</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_min</TD>
<TD >31</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|the_burstwrap_increment</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter|align_address_to_size</TD>
<TD >38</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >32</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter|altera_merlin_burst_adapter_13_1.burst_adapter</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_burst_adapter</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|arm_hps_h2f_axi_master_rd_limiter</TD>
<TD >256</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >255</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|arm_hps_h2f_axi_master_wr_limiter</TD>
<TD >256</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >255</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router_003|the_default_decode</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router_003</TD>
<TD >127</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router_002|the_default_decode</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router_002</TD>
<TD >127</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router_001|the_default_decode</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router_001</TD>
<TD >127</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router|the_default_decode</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|router</TD>
<TD >127</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >127</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_agent_rdata_fifo</TD>
<TD >79</TD>
<TD >41</TD>
<TD >0</TD>
<TD >41</TD>
<TD >36</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_agent_rsp_fifo</TD>
<TD >167</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >126</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_agent|uncompressor</TD>
<TD >54</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >52</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_agent</TD>
<TD >329</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >360</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_agent_rdata_fifo</TD>
<TD >79</TD>
<TD >41</TD>
<TD >0</TD>
<TD >41</TD>
<TD >36</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_agent_rsp_fifo</TD>
<TD >167</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >126</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_agent|uncompressor</TD>
<TD >54</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >52</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_agent</TD>
<TD >329</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >360</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|arm_hps_h2f_axi_master_agent|align_address_to_size</TD>
<TD >47</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|arm_hps_h2f_axi_master_agent</TD>
<TD >449</TD>
<TD >83</TD>
<TD >201</TD>
<TD >83</TD>
<TD >316</TD>
<TD >83</TD>
<TD >83</TD>
<TD >83</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|ocram_s1_translator</TD>
<TD >113</TD>
<TD >7</TD>
<TD >18</TD>
<TD >7</TD>
<TD >85</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0|baremetal_s1_translator</TD>
<TD >113</TD>
<TD >7</TD>
<TD >16</TD>
<TD >7</TD>
<TD >87</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|mm_interconnect_0</TD>
<TD >241</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >170</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|usb_uart|rx_sync</TD>
<TD >7</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >1</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|usb_uart</TD>
<TD >69</TD>
<TD >133</TD>
<TD >66</TD>
<TD >133</TD>
<TD >135</TD>
<TD >133</TD>
<TD >133</TD>
<TD >133</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|system_id</TD>
<TD >3</TD>
<TD >17</TD>
<TD >2</TD>
<TD >17</TD>
<TD >32</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|reset50mhz|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|reset50mhz|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|reset50mhz</TD>
<TD >33</TD>
<TD >30</TD>
<TD >0</TD>
<TD >30</TD>
<TD >1</TD>
<TD >30</TD>
<TD >30</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|power_on_reset</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ocram|the_altsyncram|auto_generated</TD>
<TD >51</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ocram</TD>
<TD >55</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >32</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|lt24_fpga|LT24Interface</TD>
<TD >20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >22</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|lt24_fpga|initDataRom</TD>
<TD >8</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >16</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|lt24_fpga|resetGen</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|lt24_fpga</TD>
<TD >47</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >25</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|hps_avmm_master</TD>
<TD >87</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >85</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|hpsinitreset</TD>
<TD >36</TD>
<TD >0</TD>
<TD >31</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|handshake</TD>
<TD >55</TD>
<TD >0</TD>
<TD >15</TD>
<TD >0</TD>
<TD >50</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ddr_write_rst|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ddr_write_rst|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ddr_write_rst</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ddr_read_rst|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ddr_read_rst|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|ddr_read_rst</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|baremetal_reset|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|baremetal_reset|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|baremetal_reset</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >2</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|baremetal|the_altsyncram|auto_generated|mux2</TD>
<TD >65</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|baremetal|the_altsyncram|auto_generated|decode3</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|baremetal|the_altsyncram|auto_generated</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|baremetal</TD>
<TD >57</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >32</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|dll</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|oct</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|c0</TD>
<TD >228</TD>
<TD >173</TD>
<TD >8</TD>
<TD >173</TD>
<TD >280</TD>
<TD >173</TD>
<TD >173</TD>
<TD >173</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|seq</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[3].ubidir_dq_dqs|altdq_dqs2_inst</TD>
<TD >135</TD>
<TD >1</TD>
<TD >3</TD>
<TD >1</TD>
<TD >36</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[3].ubidir_dq_dqs</TD>
<TD >135</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[2].ubidir_dq_dqs|altdq_dqs2_inst</TD>
<TD >135</TD>
<TD >1</TD>
<TD >3</TD>
<TD >1</TD>
<TD >36</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[2].ubidir_dq_dqs</TD>
<TD >135</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[1].ubidir_dq_dqs|altdq_dqs2_inst</TD>
<TD >135</TD>
<TD >1</TD>
<TD >3</TD>
<TD >1</TD>
<TD >36</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[1].ubidir_dq_dqs</TD>
<TD >135</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[0].ubidir_dq_dqs|altdq_dqs2_inst</TD>
<TD >135</TD>
<TD >1</TD>
<TD >3</TD>
<TD >1</TD>
<TD >36</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|dq_ddio[0].ubidir_dq_dqs</TD>
<TD >135</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|clock_gen[0].uclk_generator</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|clock_gen[0].umem_ck_pad|auto_generated</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|ureset_n_pad</TD>
<TD >7</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|ucmd_pad</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >6</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|ubank_pad</TD>
<TD >19</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >3</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|uaddress_pad</TD>
<TD >91</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >15</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[24].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[23].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[22].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[21].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[20].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[19].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[18].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[17].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[16].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[15].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[14].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[13].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[12].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[11].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[10].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[9].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[8].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[7].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[6].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[5].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[4].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[3].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[2].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[1].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads|address_gen[0].acv_ac_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads|uaddr_cmd_pads</TD>
<TD >118</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >27</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|uio_pads</TD>
<TD >633</TD>
<TD >58</TD>
<TD >118</TD>
<TD >58</TD>
<TD >220</TD>
<TD >58</TD>
<TD >58</TD>
<TD >58</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy|memphy_ldc</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0|umemphy</TD>
<TD >975</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >366</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|p0</TD>
<TD >878</TD>
<TD >545</TD>
<TD >0</TD>
<TD >545</TD>
<TD >130</TD>
<TD >545</TD>
<TD >545</TD>
<TD >545</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst|pll</TD>
<TD >2</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >12</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border|hps_sdram_inst</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io|border</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|hps_io</TD>
<TD >135</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >52</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps|fpga_interfaces</TD>
<TD >515</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >568</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system|arm_hps</TD>
<TD >449</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >466</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >52</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system|hps_qsys_system</TD>
<TD >213</TD>
<TD >60</TD>
<TD >0</TD>
<TD >60</TD>
<TD >112</TD>
<TD >60</TD>
<TD >60</TD>
<TD >60</TD>
<TD >52</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hps_system</TD>
<TD >153</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >112</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >52</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core|GameStateMachine</TD>
<TD >70</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core|pl</TD>
<TD >81</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core</TD>
<TD >64</TD>
<TD >27</TD>
<TD >19</TD>
<TD >27</TD>
<TD >151</TD>
<TD >27</TD>
<TD >27</TD>
<TD >27</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
